<% @plots.each do |plot| %>
  <div id="plots-<%= plot.id %>">
    <p>#<%= plot.number %></p>
    <ul>
      <% plot.plants.each do |plant| %>
        <li><%= plant.name %> - <%= link_to "Remove #{plant.name}", "/plot_plants/#{PlotPlant.specific_plot_plant(plot.id, plant.id).id}", method: :delete %></li>
      <% end %>
    </ul>
  </div>
<% end %>
